body{
    background-color: beige;
}

.header-title{
    text-align: center;
    padding-top: 15px;
}

.static-image{
    display: flex;
    justify-content: center;
    padding: 60px;
}

.kacchi{
    width: 300px;
}