{% extends "base.html" %} {% load static %} {% block content %}

<div class="container-fluid pt-5">
  <div class="row">
    <div>
      <div class="hero-text">
        <h1 class="text-center">About Us</h1>
        <h4 class="text-center">
          Myself Jhantu Mama, I'm the CEO of Kacchi Bon.
        </h4>
        <p class="text-center px-5">
          Welcome to Kacchi Bon, where passion meets perfection in every dish
          served. As the CEO and founder of Kacchi Bon, it's my pleasure to
          share our story with you.
          <br />
          Growing up with a deep love for the rich culinary heritage of
          Bangladesh, I embarked on a journey to bring the authentic flavors of
          our cuisine to discerning palates around the world. With a vision to
          redefine traditional dining experiences, Kacchi Bon was born, blending
          time-honored recipes with innovative culinary techniques.
          <br />
          As we continue to evolve and innovate, we remain deeply rooted in our
          commitment to providing unparalleled hospitality and culinary
          experiences that exceed expectations. Thank you for joining us on this
          remarkable journey, and we look forward to welcoming you to Kacchi
          Bon, where every meal is a celebration of flavor, culture, and
          passion.
          <br /><br />
          Sincerely,
          <br />
          Jhantu Mama
          <br />
          CEO, Kacchi Bon
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock%}
